[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
[access "refs/*"]
	forgeAuthor = group Admin-JBQ
	forgeCommitter = group Admin-JBQ
[access "refs/heads/*"]
	label-Verified = -1..+0 group Android Maintainers
	label-Code-Review = -2..+2 group Android Maintainers
[access "refs/heads/master"]
	push = group Admin-JBQ
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group extra-verifiers-submitters-platform-external-qemu
	label-Verified = -1..+1 group extra-verifiers-submitters-platform-sdk
	submit = group Android Maintainers
	submit = group extra-verifiers-submitters-platform-external-qemu
	submit = group extra-verifiers-submitters-platform-sdk
[access "refs/heads/tools-adt_r11"]
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group extra-verifiers-submitters-platform-sdk
	submit = group Android Maintainers
	submit = group extra-verifiers-submitters-platform-sdk
[access "refs/heads/tools_r10"]
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group extra-verifiers-submitters-platform-sdk
	submit = group Android Maintainers
	submit = group extra-verifiers-submitters-platform-sdk
[access "refs/heads/tools_r11"]
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group extra-verifiers-submitters-platform-sdk
	submit = group Android Maintainers
	submit = group extra-verifiers-submitters-platform-sdk
[access "refs/heads/tools_r7"]
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group extra-verifiers-submitters-platform-sdk
	submit = group Android Maintainers
	submit = group extra-verifiers-submitters-platform-sdk
[access "refs/heads/tools_r8"]
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group extra-verifiers-submitters-platform-sdk
	submit = group Android Maintainers
	submit = group extra-verifiers-submitters-platform-sdk
[access "refs/heads/tools_r9"]
	label-Verified = -1..+1 group Android Maintainers
	label-Verified = -1..+1 group extra-verifiers-submitters-platform-sdk
	submit = group Android Maintainers
	submit = group extra-verifiers-submitters-platform-sdk
[access "refs/heads/upstream-integrate"]
	create = group Digit
	forgeAuthor = group Digit
	forgeCommitter = group Digit
	push = group Digit
