[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[project]
	state = active
[access]
	inheritFrom = Platform-Unrestricted-Projects
[access "refs/heads/tools_r20"]
	label-Verified = -1..+1 group Android Maintainers
	submit = group Android Maintainers
[access "refs/heads/tools_r21"]
	label-Verified = -1..+1 group Android Maintainers
	submit = group Android Maintainers
