[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[project]
[access]
	inheritFrom = Platform-Unrestricted-Projects
[access "^refs/heads/qemu-.*"]
	create = group pushers-qemu
	forgeAuthor = group pushers-qemu
	forgeCommitter = group pushers-qemu
	push = group pushers-qemu
	pushMerge = group pushers-qemu
