QGroupBox { font-weight: regular; font-size: %%FONT_MEDIUM%%; }
QComboBox, QLineEdit, QPlainTextEdit, QPushButton, QRadioButton {
	font-weight: regular;
	font-size: %%FONT_LARGE%%;
}
*[ColorGroup="Tool"] {
	font-weight: bold;
	font-size: %%HI_FONT_MEDIUM%%;
}

