.location-container, .location-container-collapsed, .location-no-action-button-container, .location-hide-action-button-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 0px;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    z-index: 2;
    background-color: #5489ea;
    transition: height 0.2s ease-in-out;
    overflow: hidden;
}

.location-container {
    height: 128px;
}

.location-hide-action-button-container {
    height: 100px;
}

.location-no-action-button-container {
    height: 100px;
    overflow: visible;
}

.circular-button {
    position: absolute;
    top: -32px;
    right: 12px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.circular-button div {
    width: 50%;
    height: 50%;
    padding: 25%;
}

.directions-icon {
    color: #5489ea;
}

.location-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-left: 24px;
    margin-right: 16px;
    padding-bottom: 6px;
}

.location-subtitle {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    color: white;
    margin-left: 24px;
    margin-right: 16px;
}

.floating-right-button {
    color: white;
    position: absolute;
    float: right;
    top: 0px;
    right: 8px;
    width: 24px;
    height: 24px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
}

#locationInfoOverlay {
    font-family: Roboto;
    font-size: 16px;
    display: none;
    position: fixed;
    width: auto;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    z-index: 2;
    background-color: #5489ea;
    color: #ffffff;
    padding: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    padding: 4px;
    border-radius: 2px;
}